<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title>Counterpointy<%= title ? ': ' + title : '' %></title>
<% meta.forEach(function (pair) { %>
<meta property="<%= pair[0] %>" content="<%= pair[1] %>" />
<% }); %>
<meta property="og:site_name" content="Counterpointy" />

<link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.8.17.custom.css" />
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/counterpointy.js"></script>
</head>
<body data-username="<%= session.user ? session.user.username : '' %>">
<!-- <a class="fork-me" href="https://github.com/benw/counterpointy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/fork-me.png" alt="Fork me on GitHub"></a> -->
<div class="container">
<div class="header">
    <div class="title">
        <a href="/">Counterpointy</a>
        <!-- <a href="/"><img src="/logo.png" width="112" height="37" alt="Counterpointy" /></a> -->
    </div>
    <div class="loggedin">
    <% if (session.user) { %>
        <a href="/~<%= user.username %>"><%= session.user.fullname %></a>
        <%- partial('avatar20', { user: session.user }) %>
    <% } else { %>
        <a href="/login">Log in</a> or <a href="/signup">Sign up</a>
    <% } %>
    </div>
    <div class="searchbar">
        <form method="GET" action="/search">
        <input type="text" name="q" value="<%= query || '' %>" />
        <!-- <input type="submit" value="Search" /> -->
        </form>
    </div>
</div>
<div class="clear-both"></div>
<% if (opt.layout_complex) { %>
<%- body %>
<% } else { %>
<div class="bubble">
    <div class="item">
        <%- body %>
    </div>
</div>
<% } %>
<div class="clear-both"></div>
<div class="footer">
    <ul>
        <li>
            <a href="https://github.com/benw/counterpointy/wiki/About-Counterpointy">About</a>
        </li>
        <li>
            <a href="https://groups.google.com/group/counterpointy">Discussion</a>
        </li>
    </ul>
</div>
</div>
</body>
</html>
