<div class="main-point item <%= opt.editable ? 'editable' : '' %>" data-hash="<%= point.hash %>" data-text="<%= point.text %>">
    <div class="point-inner">
        <%- linkify(point.text) %>
    </div>
    <div class="main-pvote">
        <%- partial('pvote') %>
    </div>
</div>
