<div class="point" data-point-hash="<%= point.hash %>">
    <% if (opt.voting) { %>
        <div class="point-voting">
            <div class="upvote button <%= +point.myupvotes ? 'checked' : '' %>">
                &#x25b2;
            </div>
            <div class="downvote button <%= +point.mydownvotes ? 'checked' : '' %>">
                &#x25bc;
            </div>
        </div>
    <% } %>
    <div class="point-link">
        <a href="/<%= shorthash(point.hash) %>">&gt;</a>
    </div>
    <div class="point-text point-inner">
        <%- linkify(point.text) %>
    </div>
    <%- partial('pvote') %>
</div>
