<div class="item">
    <div class="point <%= opt.relevance ? 'premise' : '' %>" data-point-hash="<%= point.hash %>">
        <% if (opt.relevance) { %>
            <div class="point-relevance">
                <div class="upvote button <%= +point.myupvotes ? 'checked' : '' %>" title="Relevant"></div>
                <div class="relvotesum"><a href="/<%= shorthash(conclusion_hash) + '/' + shorthash(point.hash) %>" title="Relevance votes"><%= +point.upvotes - point.downvotes %></a></div>
                <div class="downvote button <%= +point.mydownvotes ? 'checked' : '' %>" title="Not relevant"></div>
            </div>
        <% } %>
        <div class="point-navigable">
            <div class="point-link">
                <a href="/<%= shorthash(point.hash) %>">&gt;</a>
            </div>
            <div class="point-text">
                <%- linkify(point.text) %>
            </div>
            <%- partial('pvote') %>
        </div>
    </div>
</div>
