<div class="main-point">
<%- linkify(point.text) %>
</div>

<% function showUsers(users, partial) {
    users.forEach(function (user) {
        %><%- partial('avatar20', { user: user }) %><%
    });
}
%>
<% if (agree.length) { %>
    <p class="heading">Agree: <% showUsers(agree, partial); %></p>
<% } %>
<% if (disagree.length) { %>
    <p class="heading">Disagree: <% showUsers(disagree, partial); %></p>
<% } %>

<% if (session.user) { %>
<form method="POST" action="/point/<%= point.hash %>/pstance">
    <%- partial('select_stance', { stance: point.stance }) %>
    <input type="submit" value="Save" />
</form>
<% } %>

<hr class="clear-both" />

<div class="supporting column">
    <p class="heading">Supporting:</p>
    <% if (session.user) { %>
        <div class="expandable">
            <a href="#">Add a supporting point</a>
        </div>
        <form method="POST" action="/point/<%= point.hash %>/add_premise/support">
            <textarea name="text"></textarea>
            <%- partial('select_stance', { stance: 1 }) %>
            <input class="save-button" type="submit" value="Save" />
        </form>
    <% } %>
    <div>
        <% supporting.forEach(function (p) { %>
            <!--
            <form method="POST" action="/point/<%= point.hash %>/irrelevant/support/<%= p.hash %>">
            <input type="submit" value="x" />
            </form>
            -->
            <%- partial('point', { point: p }) %>
        <% }); %>
    </div>
</div>

<div class="opposing column">
    <p class="heading">Opposing:</p>
    <% if (session.user) { %>
        <div class="expandable">
            <a href="#">Add an opposing point</a>
        </div>
        <form method="POST" action="/point/<%= point.hash %>/add_premise/oppose">
            <textarea name="text"></textarea>
            <%- partial('select_stance', { stance: 1 }) %>
            <input class="save-button" type="submit" value="Save" />
        </form>
    <% } %>
    <div>
        <% opposing.forEach(function (p) { %>
            <!--
            <form method="POST" action="/point/<%= point.hash %>/irrelevant/oppose/<%= p.hash %>">
            <input type="submit" value="x" />
            </form>
            -->
            <%- partial('point', { point: p }) %>
        <% }); %>
    </div>
</div>

<br class="clear-both" />

<div class="supporting column">
    <% if (supports.length) { %>
        <p class="heading">Supports:</p>
        <div>
        <% supports.forEach(function (p) { %>
            <%- partial('point', { point: p}) %>
        <% }); %>
        </div>
    <% } %>
    <br />
</div>

<div class="opposing column">
    <% if (opposes.length) { %>
        <p class="heading">Opposes:</p>
        <div>
        <% opposes.forEach(function (p) { %>
            <%- partial('point', { point: p}) %>
        <% }); %>
        </div>
    <% } %>
</div>
