<div class="point" data-point-hash="<%= point.hash %>">
<table><tr>
    <td class="point-checkbox">
        <% if (showCheckbox) { %>
            <input type="checkbox" name="premises" value="<%= point.hash %>" />
        <% } %>
    </td>
    <td class="point-stance">
        <%- point.stance > 0 ? '&#x2713;' : point.stance < 0 ? '&#x2715;' : '-' %>
    </td>
    <td class="point-text">
        <%- linkify(point.text) %>
    </td>
    <td class="point-link">
        <a href="/point/<%= point.hash %>">&gt;</a>
    </td>
</tr></table>
</div>
