<div class="main-point" data-text="<%= point.text %>">
<%- linkify(point.text) %>
</div>
<% if (session.user) { %>
    <div class="main-point-edit" style="display: none">
        <form method="POST" action="/p/<%= point.hash %>/edit">
            <textarea name="text"><%= point.text %></textarea>
            <input class="save-button" type="submit" value="Save" />
            <a href="#" class="cancel-button">Cancel</a>
        </form>
    </div>
    <form class="pstance" method="POST" action="/p/<%= point.hash %>/pstance">
        <%- partial('select_stance', { stance: point.stance }) %>
    </form>
<% } %>

<% function showUsers(users, partial) {
    users.forEach(function (user) {
        %><%- partial('avatar20', { user: user }) %><%
    });
}
%>
<% if (agree.length) { %>
    <p class="heading">Agree: <% showUsers(agree, partial); %></p>
<% } %>
<% if (disagree.length) { %>
    <p class="heading">Disagree: <% showUsers(disagree, partial); %></p>
<% } %>

<% if (preferred || outgoing.length) { %>
    <hr class="clear-both" />
<% } %>

<% if (preferred) { %>
    <div class="preferred column">
        <h4>Your preferred wording:</h4>
        <div>
            <%- partial('point', { point: preferred}) %>
        </div>
    </div>
<% } %>

<% if (outgoing.length) { %>
    <div class="outgoing column">
        <h4>Alternative wordings:</h4>
        <form method="POST" action="/p/<%= point.hash %>/alternatives">
            <div>
                <% outgoing.forEach(function (p) { %>
                    <%- partial('point', { point: p, showCheckbox: !!session.user}) %>
                <% }); %>
            </div>
            <% if (session.user) { %>
                <input type="submit" name="adopt" value="Adopt" />
                <!-- <input type="submit" name="reject" value="Reject" /> -->
            <% } %>
        </form>
    </div>
<% } %>

<hr class="clear-both" />

<div class="supporting column">
    <h3>Supporting:</h3>
    <%- partial('premises', { point: point, support: true, premises: supporting }) %>
</div>

<div class="opposing column">
    <h3>Opposing:</h3>
    <%- partial('premises', { point: point, support: false, premises: opposing }) %>
</div>

<% if (related.length) { %>
    <hr class="clear-both" />
    <div class="related column">
        <h4>Related:</h4>
        <div>
            <% related.forEach(function (p) { %>
                <%- partial('point', { point: p}) %>
            <% }); %>
        </div>
    </div>
<% } %>
