<div class="main bubble">
    <%- partial('point', { opt: { editable: true } } ) %>
</div>

<!--
<div class="share bubble">
<h4>Share this point</h4>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= rooturl + '/' + shorthash(point.hash) %>" data-text="<%= point.text %>">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
-->

<% if (preferred || outgoing.length) { %>
    <div class="clear-both"></div>
<% } %>

<% if (preferred) { %>
    <div class="left preferred column bubble over-carrot">
        <h4>Your preferred wording</h4>
        <%- partial('point', { point: preferred}) %>
    </div>
<% } %>

<% if (outgoing.length) { %>
    <div class="right outgoing column bubble over-carrot">
        <h4>Alternative wordings</h4>
        <%- partial('points', { points: outgoing }) %>
    </div>
<% } %>

<div class="clear-both"></div>

<%- partial('carrots') %>

<div class="left supporting column bubble">
    <%- partial('premises', { point: point, support: true, premises: supporting, conclusion_hash: point.hash }) %>
</div>

<div class="right opposing column bubble">
    <%- partial('premises', { point: point, support: false, premises: opposing, conclusion_hash: point.hash }) %>
</div>

<% if (related.length) { %>
    <div class="clear-both"></div>
    <div class="center column bubble">
        <h4>Related</h4>
        <%- partial('points', { points: related }) %>
    </div>
<% } %>
