<div class="fullwidth">
    <%- partial('main_point', { opt: { editable: true } } ) %>
    <% if (session.user) { %>
        <div class="main-point-edit" style="display: none">
            <form method="POST" action="/<%= point.hash %>/edit">
                <textarea name="text" rows="4"><%= point.text %></textarea>
                <input class="save-button" type="submit" value="Save" />
                <a href="#" class="cancel-button">Cancel</a>
            </form>
        </div>
    <% } %>
</div>

<!--
<div class="share fullwidth">
<h4>Share this point</h4>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= rooturl + '/' + shorthash(point.hash) %>" data-text="<%= point.text %>">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
-->

<% if (preferred || outgoing.length) { %>
    <div class="clear-both"></div>
<% } %>

<% if (preferred) { %>
    <div class="left preferred column over-carrot">
        <h4>Your preferred wording</h4>
        <div>
            <%- partial('point', { point: preferred}) %>
        </div>
    </div>
<% } %>

<% if (outgoing.length) { %>
    <div class="right outgoing column over-carrot">
        <h4>Alternative wordings</h4>
        <form method="POST" action="/<%= point.hash %>/alternatives">
            <div>
                <% outgoing.forEach(function (p) { %>
                    <%- partial('point', { point: p }) %>
                <% }); %>
            </div>
            <!-- FIXME
            <% if (session.user) { %>
                <input type="submit" name="adopt" value="Adopt" />
                <input type="submit" name="reject" value="Reject" />
            <% } %>
            -->
        </form>
    </div>
<% } %>

<div class="clear-both"></div>

<%- partial('carrots') %>

<div class="left supporting column">
    <%- partial('premises', { point: point, support: true, premises: supporting }) %>
</div>

<div class="right opposing column">
    <%- partial('premises', { point: point, support: false, premises: opposing }) %>
</div>

<% if (related.length) { %>
    <div class="clear-both"></div>
    <div class="related column">
        <h4>Related</h4>
        <div>
            <% related.forEach(function (p) { %>
                <%- partial('point', { point: p}) %>
            <% }); %>
        </div>
    </div>
<% } %>
