<p class="conclusion"><%= point.text %></p>

<% if (session.user) { %>
<form method="POST" action="/point/<%= point.hash %>/pstance">
<select name="stance">
<option value="undecided" <%= !point.stance ? 'selected' : '' %>>? Undecided</option>
<option value="agree" <%= point.stance > 0 ? 'selected' : '' %>>&#x2713; Agree</option>
<option value="disagree" <%= point.stance < 0 ? 'selected' : '' %>>&#x2715; Disagree</option>
</select>
<input type="submit" />
</form>
<% } %>

<% function showReason(r) { %>
<p class="premise"><a href="/point/<%= encodeURIComponent(r.hash) %>"><%= r.text %></a></p>
<% } %>
<p class="supporting-heading">Supporting:</p>
<% supporting.forEach(showReason) %>
<form method="POST" action="/point/<%= point.hash %>/add_premise/support">
<textarea name="text"></textarea>
<input type="submit" value="Add" />
</form>
<p class="opposing-heading">Opposing:</p>
<% opposing.forEach(showReason) %>
<form method="POST" action="/point/<%= point.hash %>/add_premise/oppose">
<textarea name="text"></textarea>
<input type="submit" value="Add" />
</form>
