<div class="main-point">
<%- linkify(point.text) %>
</div>

<% function showUsers(users, partial) {
    users.forEach(function (user) {
        %><%- partial('avatar20', { user: user }) %><%
    });
}
%>
<% if (agree.length) { %>
    <p class="heading">Agree: <% showUsers(agree, partial); %></p>
<% } %>
<% if (disagree.length) { %>
    <p class="heading">Disagree: <% showUsers(disagree, partial); %></p>
<% } %>

<% if (session.user) { %>
<form method="POST" action="/point/<%= point.hash %>/pstance">
<select name="stance">
<option value="undecided" <%= !point.stance ? 'selected' : '' %>>&ndash; Undecided</option>
<option value="agree" <%= point.stance > 0 ? 'selected' : '' %>>&#x2713; Agree</option>
<option value="disagree" <%= point.stance < 0 ? 'selected' : '' %>>&#x2715; Disagree</option>
</select>
<input type="submit" value="Save" />
</form>
<% } %>

<hr/>

<p class="heading">Supporting:</p>
<div>
<% supporting.forEach(function (p) { %>
    <!--
    <form method="POST" action="/point/<%= point.hash %>/irrelevant/support/<%= p.hash %>">
    <input type="submit" value="x" />
    </form>
    -->
    <%- partial('point', { point: p }) %>
<% }); %>
</div>

<% if (session.user) { %>
<div class="expandable">
    <a href="#">Add a supporting point</a>
</div>
<form method="POST" action="/point/<%= point.hash %>/add_premise/support">
<textarea name="text"></textarea>
<input class="save-button" type="submit" value="Save" />
</form>
<% } %>

<hr/>

<p class="heading">Opposing:</p>
<div>
<% opposing.forEach(function (p) { %>
    <!--
    <form method="POST" action="/point/<%= point.hash %>/irrelevant/oppose/<%= p.hash %>">
    <input type="submit" value="x" />
    </form>
    -->
    <%- partial('point', { point: p }) %>
<% }); %>
</div>

<% if (session.user) { %>
<div class="expandable">
    <a href="#">Add an opposing point</a>
</div>
<form method="POST" action="/point/<%= point.hash %>/add_premise/oppose">
<textarea name="text"></textarea>
<input class="save-button" type="submit" value="Save" />
</form>
<% } %>

<% if (supports.length) { %>
    <hr/>
    <p class="heading">Supports:</p>
    <div>
    <% supports.forEach(function (p) { %>
        <%- partial('point', { point: p}) %>
    <% }); %>
    </div>
<% } %>

<% if (opposes.length) { %>
    <hr/>
    <p class="heading">Opposes:</p>
    <div>
    <% opposes.forEach(function (p) { %>
        <%- partial('point', { point: p}) %>
    <% }); %>
    </div>
<% } %>
