<%
var article_gerund = support ? 'a supporting' : 'an opposing';
var verb = support ? 'support' : 'oppose';
if (session.user) { %>
    <div class="add-premise">
        <div class="expandable">
            <a href="#">Add <%= article_gerund %> point</a>
        </div>
        <form method="POST" action="/point/<%= point.hash %>/add_premise/<%= verb %>">
            <textarea name="text"></textarea>
            <%- partial('select_stance', { stance: 1 }) %>
            <input class="save-button" type="submit" value="Save" />
        </form>
    </div>
<% } %>
<form class="premises" method="POST" action="/point/<%= point.hash %>/premises/<%= verb %>">
    <% if (session.user && premises.length) { %>
        <input type="submit" disabled name="keep" value="Keep" />
        <input type="submit" disabled name="remove" value="Remove" />
        <input type="submit" disabled name="agree" value="Agree" />
        <input type="submit" disabled name="disagree" value="Disagree" />
    <% } %>
    <div>
        <% premises.forEach(function (p) { %>
            <%- partial('point', { point: p, showCheckbox: !!session.user }) %>
        <% }); %>
    </div>
</form>
