<div class="main bubble">
    <%- partial('point', { point: conclusion }) %>
</div>
<div class="carrots">
    <% if (support) { %>
        <div class="carrot-lower carrot-left"></div>
        <div class="carrot-upper carrot-left"></div>
    <% } else { %>
        <div class="carrot-lower carrot-right"></div>
        <div class="carrot-upper carrot-right"></div>
    <% } %>
</div>
<div class="main bubble <%= support ? 'supporting' : 'opposing' %>">
    <%- partial('point', {
                point: premise,
                conclusion_hash: conclusion.hash,
                opt: {relevance: true }
    }) %>
</div>

<div class="left column bubble">
    <h3>&#x25b2; Relevant</h3>
    <%- partial('voters', { voters: upvoters }) %>
</div>

<div class="right column bubble">
    <h3>&#x25bc; Irrelevant</h3>
    <%- partial('voters', { voters: downvoters }) %>
</div>
