<div class="column">
    <div class="profile-avatar">
        <%- partial('avatar80', { user: user }) %>
    </div>
    <div class="profile-details">
        <p class="username">
            <%= user.username %>
        </p>
        <p class="fullname">
            <%= user.fullname %>
        </p>
    </div>
</div>
<div class="column">
    <% if (session.user && session.user.username == user.username) { %>
        <div>
            <p>
                This is you!&nbsp; <a href="/options">Edit your profile</a>
            </p>
            <p>
                Change your avatar at <a href="http://gravatar.com/">gravatar.com</a>
                <br />
                (We're using <%= session.user.email %>)
            </p>
            <p>
                <a href="/logout">Log out</a>
            </p>
        </div>
    <% } %>
</div>

<hr class="clear-both" />

<div class="column">
    <h3><%= user.username %> agrees:</h3>
    <%- partial('points', {
            points: points.filter(function (p) {
                        return p.other_stance > 0;
                    })
        })
    %>
</div>

<div class="column">
    <h3><%= user.username %> disagrees:</h3>
    <%- partial('points', {
            points: points.filter(function (p) {
                        return p.other_stance < 0;
                    })
        })
    %>
</div>
