<div class="left column bubble">
    <div class="item">
        <div class="profile-avatar">
            <%- partial('avatar80', { user: user }) %>
        </div>
        <div class="profile-details">
            <p class="username">
                <%= user.username %>
            </p>
            <p class="fullname">
                <%= user.fullname %>
            </p>
        </div>
    </div>
</div>
<% if (session.user && session.user.username == user.username) { %>
    <div class="right column bubble">
        <div class="item">
            <p>
                This is you!&nbsp; <a href="/options">Edit your profile</a>
            </p>
            <p>
                Change your avatar at <a href="http://gravatar.com/">gravatar.com</a>
                <br />
                (We're using <%= session.user.email %>)
            </p>
        </div>
    </div>
<% } %>

<div class="clear-both"></div>

<div class="left column bubble">
    <h3>&#x2713;&nbsp; True</h3>
    <%- partial('points', {
            points: points.filter(function (p) {
                        return p.other_stance > 0;
                    })
        })
    %>
</div>

<div class="right column bubble">
    <h3>&#x2715;&nbsp; False</h3>
    <%- partial('points', {
            points: points.filter(function (p) {
                        return p.other_stance < 0;
                    })
        })
    %>
</div>
